<br/>
<div class = "row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@new_url) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.label :long_url %>
			<%= f.text_field :long_url, class: 'form-control' %>

			<%= f.submit "Generate short URL", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
